{% extends "base.twig" %}
{% block title %}Inscription{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}

    <main role="main" class="container-100">
        <h1>Politique modèle de confidentialité.</h1>
        <h2>Introduction</h2>
        <p>Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.</p>

        <p>Collecte des renseignements personnels</p>
        <p>Nous collectons les renseignements suivants :</p>

        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Adresse postale</li>
            <li>Code postal</li>
            <li>Adresse électronique</li>
            <li>Numéro de téléphone / télécopieur</li>
            <li>Numéro de carte de crédit</li>
            <li>Genre / Sexe</li>
            <li>Âge / Date de naissance</li>
            <li>Profession</li>
        </ul>

        <p>Formulaires  et interactivité:</p>
        <p>Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :</p>
        <ul>
            <li>Formulaire d'inscription au site Web</li>
            <li>Formulaire de commande</li>
        </ul>

        <p> Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</p>

        <ul>
            <li>Suivi de la commande</li>
            <li>Informations / Offres promotionnelles</li>
            <li>Statistiques</li>
            <li>Contact</li>
            <li>Gestion du site Web (présentation, organisation)</li>
            <li>Vos renseignements sont également collectés par le biais de l'interactivité pouvant s'établir entre vous et notre site Web et ce, de la façon suivante:</li>
            <li>Statistiques</li>
            <li>Contact</li>
            <li>Gestion du site Web (présentation, organisation)</li>
        </ul>

        <p>Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</p>
        <ul>
            <li>Partage des renseignements personnels</li>
            <li>Informations ou pour des offres promotionnelles</li>
        </ul>

        <p>Nous nous engageons à ne pas commercialiser les renseignements personnels collectés. Toutefois, il nous arrive de partager ces informations avec des tiers pour les raisons suivantes</p>

        <ul>
            <li>Exécution de la commande</li>
            <li>Publicité</li>
        </ul>

        <p>Si vous ne souhaitez pas que vos renseignements personnels soient communiqués à des tiers, il vous est possible de vous y opposer au moment de la collecte ou à tout moment par la suite, comme mentionné dans la section suivante</p>

        <ul>
            <li>Droit d'opposition et de retrait</li>
            <li>Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels.</li>
            <li>Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.</li>
            <li>Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.</li>
            <li>Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.</li>
            <li>Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.</li>
        </ul>

        <p>Pour pouvoir exercer ces droits, vous pouvez :</p>

        <ul>
            <li>Code postal : 16 Rue de la Jungle, Lille 59000</li>
            <li>Courriel : pierremet@king-stock.fr</li>
            <li>Téléphone : 06 43 23 43 53</li>
            <li>Section du site web : http://king-stock.fr/</li>
            <li>Droit d'accès</li>
            <li>Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.</li>
        </ul>

        <p>L'exercice de ce droit se fera :</p>
        <ul>
            <li>Code postal : 16 Rue de la Jungle, Lille 59000</li>
            <li>Courriel : pierremet@king-stock.fr</li>
            <li>Téléphone : 06 43 23 43 53</li>
            <li>Section du site web : http://king-stock.fr/</li>
            <li>Sécurité</li>
        </ul>






        <p>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.</p>
        <p>Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :</p>

        <ul>
            <li>Protocole SSL (Secure Sockets Layer)</li>
            <li>Protocole SET (Secure Electronic Transaction)</li>
            <li>Gestion des accès - personne autorisée</li>
            <li>Gestion des accès - personne concernée</li>
            <li>Sauvegarde informatique</li>
            <li>Développement de certificat numérique</li>
            <li>Identifiant / mot de passe</li>
        </ul>
        <p>Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente lorsque l'on utilise Internet pour transmettre des renseignements personnels.</p>
        <ul>
            <li>Législation</li>
        </ul>
        <p>Nous nous engageons à respecter les dispositions législatives énoncées dans :</p>
        <ul>
            <li>France</li>
        </ul>
    </main>


{% endblock %}