{% extends "base.twig" %}

{% block title %}{{ lang.Contact }}{% endblock %}
{% block description %}Contactez l'ensemble de l'équipe KINGSTOCK{% endblock %}
{% block keywords %} {% endblock %}
{% block body %}
    <main class="homepage" role="main">
        <section class="comment-ca-marche">
            <div class="section-title">
                <hr class="inline-block">
                <h1 class="inline-block">{{ lang.Contact }}</h1>
                <hr class="inline-block">
            </div>
            <div class="concept-wrapper">
                    <div class="concept-content contact-content">
                        <div class="contact-content-left">
                            <h2>NOUS CONTACTER</h2>
                            <p>L'ensemble de l'équipe KINGSTOCK sera ravi de vous accueillir au sein de sa boutique située au :</p>
                            <p>159-161 Boulevard de la Liberté<br/>59800 Lille<br/><br/><span style="font-style:italic;font-size:1.2rem;">*ouvert du lundi au vendredi, de 8h à 17h</span></p>
                            <p>Vous pouvez également nous contacter :
                            <ul>
                                <li><i class="far fa-envelope"></i> : contact@kingstock.fr></li>
                                <li><i class="far fa-phone"></i> : 03.00.00.00.00</li>
                            </ul>
                            </p>
                        </div>
                        <div class="contact-content-right">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.7778740610856!2d3.061046215737935!3d50.631243079500706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d58f9cdc4245%3A0xbe29aa60f6d4418c!2s159+Boulevard+de+la+Libert%C3%A9%2C+59800+Lille!5e0!3m2!1sfr!2sfr!4v1535978058065" width="100%" height="325px" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
            </div>
        </section>
    </main>
{% endblock %}