{% extends "base.twig" %}

{% block title %}{{ lang.Politique_de_retour }}{% endblock %}
{% block description %}La politique de retour du site KINGSTOCK{% endblock %}
{% block keywords %} {% endblock %}
{% block body %}
    <main class="homepage" role="main">
        <section class="comment-ca-marche">
            <div class="section-title">
                <hr class="inline-block">
                <h1 class="inline-block">{{ lang.Politique_de_retour }}</h1>
                <hr class="inline-block">
            </div>
            <div class="concept-wrapper">
                <div class="concept-content">
                    <h2>RETOUR GRATUIT EN CAS DE DEFAUT</h2>
                    <p>Avec KINGSTOCK les retours sont à notre charge en cas de casse et de réception de colis défectueux,
                        veuillez nous faire votre demande à contact@kingstock.fr ou au 03.00.00.00.00</p>
                    <p>Nous considérons comme "défaut" ou "casse" les éléments suivants:
                        <ul>
                            <li>produits défectueux : dégradation physique, défaut de fonctionnement</li>
                            <li>colis dégradés : colis éventrés ou enfonçés, entraînant le dysfonctionnement ou la dégradation
                                physique des produits</li>
                        </ul>
                    En cas de constatation d'un des défauts listés ci-dessus, KINGSTOCK s'engage au remboursement des produits défectueux ou dégradés
                    </p>

                </div>
            </div>
        </section>
    </main>
{% endblock %}