{% extends "base2.twig" %}
{% block title %}Nouvelle Enchère{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content" style="margin-top: 0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Nouvelle Enchère</h4>
                            </div>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Date de début</label>
                                            <input type="datetime-local" class="form-control" name="date_debut"
                                                   placeholder="2018-08-31 01:30:00">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Date de Fin</label>
                                            <input type="datetime-local" class="form-control" name="date_fin"
                                                   placeholder="2018-08-31 23:30:00">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress">Pas</label>
                                        <input type="number" class="form-control" name="pas"
                                               placeholder="200">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress2">Prix de départ</label>
                                        <input type="text" class="form-control" name="prix_depart"
                                               placeholder="1000">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-md-6">
                                            <label for="select">Sélectionner le lot</label>
                                            <select id="select" class="form-control" name="id_lot">
                                                {% for row in lots %}
                                                    <option value="{{ row.getId }}">{{ row.getNom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}