{% extends "base.twig" %}

{% block title %}{{ lang.Accueil }}{% endblock %}
{% block description %} {% endblock %}
{% block keywords %} {% endblock %}
{% block body %}
    <main>
        {% if error != '' %}
            <div class="error-inscription flex"><p>{{ error| raw }}</p>
            </div>
        {% endif %}
        <section class="block_connexion">
            <h1>Nouveau Mot de passe</h1>
            <form class="input_connexion" action="" method="post">
                <div class="container-100 flex container-responsive">
                    <div>
                        <input class="champ_saisie" type="password" name="newpassword" value="{{ post.mail }}" placeholder="Saisir votre nouveau mot de passe">
                    </div>
                </div>
                <div class="container_button_connexion margin-top-20">
                    <input class="button button_connexion margin-bottom-10" type="submit" name="confirmation_inscription" value="Envoyer">
                </div>
            </form>
        </section>
    </main>
{% endblock %}
